<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <title>스크랩</title>
    <!--사이트 제목(팝업창)-->
</head>

<body>
    <header>

        <h1><a href="Index.html" color=black>스크랩(SchoolApp) 사이트</a></h1><br />
        <!--사이트 제목(사이트 상단)-->
        <a href="Third.html">사이트 바로가기</a><br />
        <audio src="Summer.mp3" controls loop>이 브라우저는 HTML5를 지원하지 않습니다.</audio>
    </header>

    <nav>
        <a href="https://blog.naver.com">블로그로 이동</a>
    </nav>

    <table border=1 id="centerAlign">
        <tr>
            <td>
                <form>
                    <input type="text" name="userId" placeholder="아이디" /><br />
                    <input type="password" name="password" placeholder="비밀번호" /><br />
                    <input type="text" name="userCode" placeholder="보안코드" /><br />


                    <h2>종족</h2>
                    <input type="radio" name="team" value="terran">테란</input>
                    <input type="radio" name="team" value="zerg">저그</input>
                    <input type="radio" name="team" value="protoss">프로토스</input>
                    <input type="radio" name="team" value="random">랜덤</input><br />

                    <h2>1 + 1 - 1 + 1 - 1 + 1 - 1 + ... = ?</h2>
                    <input type="checkbox" name="math" value="1">1</input>
                    <input type="checkbox" name="math" value="0.5">0.5</input>
                    <input type="checkbox" name="math" value="0">0</input>

                    <hr />
                    <input type="button" onclick="alert('아이디 혹은 비밀번호가 맞지 않습니다.')" value="로그인" />
                    <input type="button" onclick="alert('보안코드가 유효하지 않습니다.')" value="회원가입" />
                </form>
            </td>
        </tr>
    </table>
    <hr />

    <p class="greenTitle" id="centerAlign">안녕하세요 보정고등학교 동아리 스크랩 공식 사이트입니다.</p>
    <a href="Second.html" target="_blank" class="red">누르지마</a><br />
    <img src="Camera.jpg" alt="카메라 사진" title="오른쪽을 보고있는 카메라이다" /><br />
    <h2>여러 사이트로 가기</h2><br />
    <ul>
        <li><a href="https://naver.com" target="_blank">NAVER(으)로 이동</a></li><br />
        <li><a href="Second.html" target="_blank">DAUM(으)로 이동</a></li><br />
        <li><a href="https://nplay.com/BeGone" target="_blank">BeGone 플레이하기</a></li>
    </ul><br />

    <hr />

    <p>
        <h1>배열을 배워봅시다</h1>
    </p>
    <table border="1">
        <tr>
            <td>a[0][0]</td>
            <td>a[1][0]</td>
            <td>a[2][0]</td>
        </tr>
        <tr>
            <td>a[0][1]</td>
            <td>a[1][1]</td>
            <td>a[2][1]</td>
        </tr>
        <tr>
            <td>a[0][2]</td>
            <td>a[1][2]</td>
            <td>a[2][2]</td>
        </tr>
    </table>

    <footer>
        <p>
            <h5>H.P. 010 - 4068 - 2448</h5>
        </p>
    </footer>
</body>

</html>